QWidget[accessibleName="Application"]
{
    background-color: #212121;
}

QFrame
{
    border: none;
    padding: 0px;
}

QPushButton
{
    background-color: #2B7CF5;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 2px;
	padding: 4px 10px;
    font-size: 12px;
}

QPushButton:hover
{
    background-color: #236DDC;
    color: white;
}

QFrame#Header
{
    background-color: #121212;
    border-bottom: 1px solid #161616;
}

QFrame[accessibleName="sub-header"]
{
    background-color: #121212;
    padding: 8px 10px;
}

QPushButton[accessibleName="btn-header"]
{
    color: #737373;
    background-color: transparent;
    padding: 10px 12px;
    qproperty-iconSize: 14px 14px;
    border-radius: 0px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-size: 13px;
}

QPushButton[accessibleName="btn-header"]:hover:!checked
{
    color: white;
}

QPushButton[accessibleName="btn-header"]:checked
{
    border-bottom: 2px solid #2B7CF5;
    color: white;
}

QPushButton[accessibleName="btn-transparent"]
{
    background-color: transparent;
    color: white;
    font-size: 13px;
    padding: 0px;
}

QPushButton[accessibleName="btn-save"]
{
    background-color: #121212;
    border-radius: 0px;
    padding: 10px 0px;
    color: white;
    font-size: 13px;
	qproperty-icon: url(":/icons/check.svg");
	qproperty-iconSize: 14px 14px;
}

QPushButton[accessibleName="btn-save"]:disabled
{
    background-color: #2A2A2A;
    color: #505050;
	qproperty-icon: none;
}

QPushButton[accessibleName="btn-save"]:hover
{
    background-color: #080808;
    color: white;
}

QPushButton[accessibleName="controls-btn"]
{
    height: 50px;
    width: 50px;
    background-color: #383838;
    border-radius: 25px;
    padding: 0px;
    qproperty-iconSize: 25px 25px;
}

*[accessibleName="main-content"]
{
    padding: 8px;
    background-color: transparent;
}

QListWidget
{
    outline: 0;
    font-size: 13px;
}

QListWidget:item
{
    border: 1px solid transparent;
    border-bottom: 1px solid #2A2A2A;
    padding: 10px 5px;
    color: white;
    border-radius: 2px;
}

QListWidget:item:selected
{
    background-color: #2A2A2A;
    border-color: #2A2A2A;
    border: 1px solid #236DDC;
}

QFrame#StatusControlsVolumeFrame
{
    background-color: #383838;
    border-radius: 10px;
}

QLabel#DeviceSelectionTitle
{
    color: white;
    font-weight: bold;
}

QLabel#StatusControlsSongTitle
{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

QLabel#StatusControlsSong
{
    color: #8C8C8C;
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

QLabel[accessibleName="controls-time-label"]
{
    color: white;
    font-weight: bold;
    font-size: 12px;
}

QSlider[accessibleName="controls-slider"]:sub-page
{
    height: 5px;
    background: #236DDC;
    border-radius: 2px;
}

QSlider[accessibleName="controls-slider"]:groove
{
    height: 5px;
    background: #1A1A1A;
    border-radius: 2px;
}

QSlider[accessibleName="controls-slider"]:handle
{
    background: white;
    width: 6px;
    bottom: -4px;
    top: -4px;
    border-radius: 3px;
}

QProgressBar#StatusControlsTimebar
{
    height: 5px;
    border-radius: 2px;
    margin: 0px 3px;
    background-color: #383838;
}

QProgressBar#StatusControlsTimebar:chunk
{
    background-color: #236DDC;
}